html
  head
    title= title
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  body

  h1 Kalenderübersicht
  each calendar in calendars
   div(class="card" style="width: 100%;")
    div(class="container")
     div(class="row")
      div(class="col-sm")
       h2=calendar.owner
       each events in calendar.events
        div(class="container")
         div(class="row")
         div(class="card" style="width: 50%;")
          div(class="card-body")
           h5(class="card-title")=events.title
           p(class="card-text")= events.location_name