html
  head
    title= title
    link(rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css")
  body

    div(<div class="w3-container">
    <h2>Bordered Table</h2>
    table(class="w3-table w3-bordered")
     thead
      tr
       th
       th Montag
       th Dienstag
       th Mittwoch
       th Donnerstag
       th Freitag
      tr


