html
  head
    title= title
    link(rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css")
  body

   each calendar in calendars
    div(style="width: 250px; float: left;")
     h2 #{calendar.owner}
     table
      thead
       tr
        th Termine
      tbody
        each events in calendar.events
           tr
            td(style="border-bottom: 2px solid red;")
             div
                h3= events.title
                p= events.location_name